{% extends "base.html" %}

{% block content %}

    <div style="text-align: center" class="col col-6 container-fluid">
        {% if stock %}
            <table style="text-align: center" class="table table-dark table-striped table-borderless table-sm">
                <thead>
                    <tr>
                        <th>PRODUCT</th>
                        <th>PRICE</th>
                        <th>STOCK</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for idx in range(stock['idx']|length) %}
                        <tr>
                            <td>{{ stock.product_name[idx].capitalize() }}</td>
                            <td>{{ stock.product_price[idx] }}</td>
                            <td>{{ stock.product_quantity[idx] }}</td>
                            <td>
                                <form method="POST" action="/sale/">
                                    <table>
                                        <tr>
                                            <th>
                                                <input type="hidden" name="s_name" value="{{ stock.product_name[idx] }}" id="">
                                                <input type="number" name="s_quantity" class="form-control" id=v_quantity value="v_quantity" min="1" id="sale_id" width="50" required="required">
                                            </th>
                                            <th>
                                                <input type="submit" value="Sell it!" class="abrir">
                                            </th>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no products in our Warehouse yet.</p>
        {% endif %}
    </div>


{% endblock %}